.wbt-input__styled {font-size:0;width:0;margin:0;padding:0;position:absolute;z-index:-1;opacity:0.01;}
/* Checkbox */
.wbt-input-checkbox {display:inline-block;margin:0 4px 0 0;vertical-align:text-bottom;cursor:pointer;}
.wbt-input-checkbox_icon {display:block;width:20px;height:20px;}
.wbt-input-checkbox_icon {background:url("../img/icon-checkbox_disactive.png.svg") center center no-repeat;}
.wbt-input-checkbox:focus .wbt-input-checkbox_icon,
.wbt-input-checkbox_icon:hover  {background:url("../img/icon-checkbox_hover.png.svg") center center no-repeat;}
.wbt-input-checkbox:focus {outline: none;}
.wbt-input-checkbox__active .wbt-input-checkbox_icon {background-image:url("../img/icon-checkbox_active.png.svg") !important;}
/* Radio */
.wbt-input-radio {display:inline-block;margin:0 4px 0 0;vertical-align:text-bottom;cursor:pointer;}
.wbt-input-radio_icon {display:block;width:19px;height:19px;}
.wbt-input-radio_icon {background:url("../img/icon-radio_disactive.png.svg") center center no-repeat;}
.wbt-input-radio:focus {outline:none;}
.wbt-input-radio_icon:hover,
.wbt-input-radio:focus .wbt-input-radio_icon {background:url("../img/icon-radio_hover.png.svg") center center no-repeat;}
.wbt-input-radio.wbt-input-radio__active .wbt-input-radio_icon {background-image:url("../img/icon-radio_active.png.svg");}
/* Select */
.wbt-input-select {display:inline-block;vertical-align:middle;position:relative;white-space:nowrap;cursor:pointer;}
/*.wbt-input-select__active {z-index:1;}*/
/*.wbt-input-select__active:before {content:"";position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.5);}*/
.wbt-input-select:focus {outline:none;}
.wbt-input-select_selected {position:relative;overflow:hidden;text-overflow:ellipsis;min-height:32px;line-height:32px;padding-right:32px;}
.wbt-input-select_text {padding:0 .5em;}
.wbt-input-select_button {position:absolute;right:0;top:0;width:32px;height:100%;background:url("../img/icon-dropdown-na.png.svg") center center no-repeat; }
.wbt-input-select_options {display:none;position:absolute;z-index:12;left:0;right:0;top:100%;margin:1px 0 0;padding:0;min-width:99%;max-height:260px;overflow-y:auto;overflow-x:hidden;line-height:32px;background-color:#fff;margin-top: 3px;}
.wbt-input-select__active .wbt-input-select_options {display:block;-webkit-animation:fadeIn 150ms;animation:fadeIn 150ms;box-shadow:0 0 0 1px #d4d4d4, inset 0 1px 0 0 #eaeaea, 0 4px 4px 0 rgba(0,0,0,0.09);}
.wbt-input-select__active .wbt-input-select_button {background-image:url("../img/icon-dropdown-a.png.svg");}
.wbt-input-select_link {padding:0 .5em;overflow:hidden;text-overflow:ellipsis;}
.wbt-input-select_item__active .wbt-input-select_link {font-family:"PlumbMedium";}


.wbt-input-range {display: block;cursor: pointer;}
.wbt-input-range_track {position: relative;margin: 0 11px;height: 28px;/*background: url("../img/auction-slider.png.svg") left center repeat-x;*/width: 378px;}
.wbt-input-range_selection { background:#b70a2e; background: linear-gradient(to right,#e3003a,#b70a2e);position: absolute;left: 0;top: 11px;height: 6px;}
.wbt-input-range_handle {position: absolute;top: 4px;bottom: 0;width:18px;margin-left: -10px;height: 18px;background: url("../img/wbt-range-handle.png.svg") no-repeat;}